/* 컬러 파레트
보 #320b80 #673ab0 #9367e3 
회 #bec3e2 #8d92b0 */
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  color: #1c1c1d;
  background-color: #ecedf3;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
ul li {
  list-style: none;
}
a {
  all: unset;
}
a:link {
  text-decoration: none;
  color: #320b80;
}
a:visited {
  text-decoration: none;
  color: #320b80;
}
a:active {
  text-decoration: none;
  color: #673ab0;
}
a:hover {
  text-decoration: none;
  color: #673ab0;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
header {
  width: 100%;
  height: 60px;
  background-color: #ecedf3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-container.head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}
.head-container .head-brand a:hover {
  color: #673ab0;
  cursor: pointer;
}
.head-container.head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}
.head-container .head-blog a:hover {
  color: #673ab0;
  cursor: pointer;
}
section {
  width: 100%;
  position: relative;
}
.main {
  height: 360px;
  background-image: url("/Lecture/HTML&CSS/잔재미코딩_강의/잔재미코딩_연습/img/main-section.png");
  background-size: cover;
  background-position: center 10%;
  background-position: left 16%;
  /* 배경사진을 조금위로 올릴때 */
  background-size: 150%;
  background-repeat: no-repeat;
  z-index: 1;
}
.main-container {
  width: 100%;
  height: 100%;
  background-color: #320b80;
  opacity: 0.3;
  z-index: 2;
  margin-top: 60px;
}
.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ecedf3;
  margin-bottom: 0.8rem;
}
.message {
  color: #ecedf3;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.2rem;
}
.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
}
.skill {
  width: 25%;
  background-color: #9367e3;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.6rem 1rem;
  margin: 0rem 1rem;
  box-shadow: 7px 7px 10px -5px #9b76df;
  transition-duration: 0.3s;
}
.skill:hover {
  transition-timing-function: ease-in-out;
  transform: translate(0, -4px);
}
.skill-icon {
  margin: 0 1px;
  font-size: 2rem;
  color: #ecedf3;
}
.skill-title {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.skill-subtitle {
  width: 100%;
  display: none;
  position: absolute;
  justify-content: center;
  top: 100%;
  left: 0%;
  border-radius: 0 0 9px 9px;
  font-weight: normal;
  font-size: 0.9rem;
  background: #9367e3;
  /* opacity: 70%; */
}
.skill-subtitle > li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  vertical-align: middle;
}
.skill-container > li:hover {
  transition-timing-function: ease-in-out 0.2s;
  background-color: #673ab0;
}
.skill-container > li:hover > .skill-title > ul {
  display: block;
}
.skill-subtitle > li:hover {
  width: 100%;
  background: #9b76df;
}
.skill-name {
  font-size: 1rem;
  font-weight: bold;
  color: #ecedf3;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.skill-usage {
  font-weight: normal;
  color: #dee0ee;
  font-size: 0.5rem;
}
@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 1120px) {
  .skill-usage {
    display: none;
  }
  .skill-name {
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 874px) {
  .skill-name {
    display: none;
  }
  .skill-usage {
    display: none;
  }
  .skill {
    /* width: 100%;
    height: 100%; */
    display: inline-block;
    /* flex-direction: row; */
    text-align: center;
    /* align-items: center; */
  }
}
